node_modules/
data/journal/
data/diagnostic.data/
data/log/mongod.*
data/*.wt
data/*.lock
data/*.turtle
data/WiredTiger
*.bson
data/dump/qareport/backupCate.metadata.json
data/dump/qareport/reportResult.metadata.json
data/dump/qareport/backupResult.metadata.json
data/dump/qareport/reportCategory.metadata.json