<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="bin/www" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="QADashboard">
          <match url="/*" />
          <action type="Rewrite" url="bin/www" />
        </rule>
      </rules>
    </rewrite>


    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".config" />
        </fileExtensions>
        <hiddenSegments>
          <remove segment="web.config" />
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>

  </system.webServer>

  <appSettings>
    <add key="deployPath" value="/QADashboard" />
  </appSettings>

</configuration>
