<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="bin/www" verb="*" modules="iisnode" />
		</handlers>

		<rewrite>
			<rules>  
				<rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">  
					<match url="iisnode"/>  
				</rule>  
				<rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                      
					<match url="^bin/www\/debug[\/]?" />  
				</rule>  
				<rule name="StaticContent">  
					<action type="Rewrite" url="public{{REQUEST_URI}}"/>  
				</rule>  
				<rule name="DynamicContent">  
					<conditions>  
						<add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True"/>  
					</conditions>  
					<action type="Rewrite" url="bin/www"/>  
				</rule>  
			</rules>  
		</rewrite>

		<security>
			<requestFiltering>
				<fileExtensions>
					<remove fileExtension=".config" />
				</fileExtensions>
				<hiddenSegments>
					<remove segment="web.config" />
					<remove segment="bin" />
				</hiddenSegments>
			</requestFiltering>
		</security>
		<httpErrors existingResponse="PassThrough" />
	</system.webServer>

	<appSettings>
		<add key="deployPath" value="/ReportDashboard" />
	</appSettings>

</configuration>
