@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('../fonts/AvenirNextLTPro-Regular.ttf') format('embedded-opentype'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'AvenirNextLTPro-Regular';
    margin: 0;
}

#siteHeader {
    width: 100%;
}

#siteHeaderCenter {
    overflow: hidden;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

#sampleLogo {
    display: block;
    height: 80px;
    width: 179px;
    float: left;
}

#siteName {
    float: left;
    max-width: 1200px;
    font-size: 1.9rem;
    line-height: 80px;
    font-weight: bold;
}

#loginGithub {
    float: right;
    width: 80px;
    height: 76px;
    text-align: center;
    cursor: pointer;
}

#loginGithub:hover {
    border-bottom: 4px solid transparent;
    border-bottom-color: #0079c1;
}

#headerGitLogo {
    margin-top: 10px;
    width: 45px;
    height: 45px;
}

#loginLabel {
    width: auto;
    font-size: 0.8rem;
    padding: 0px 0px 4px 0px;
}

@media only screen and (max-width: 900px) and (min-width: 750px),
(max-device-width: 900px) {
    #loginLabel {
        display: none;
    }
    #headerGitLogo {
        margin-top: 20px;
    }
    #siteName {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 750px) and (min-width: 700px),
(max-device-width: 750px) {
    #loginLabel {
        display: none;
    }
    #headerGitLogo {
        margin-top: 20px;
    }
    #siteName {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 720px) and (min-width: 700px),
(max-device-width: 750px) {
    #headerGitLogo {
        margin-top: 20px !important;
    }
}

@media only screen and (max-width: 720px) and (min-width: 630px),
(max-device-width: 700px) {
    #loginGithub {
        width: 40px;
    }
    #headerGitLogo {
        margin-top: 30px;
        width: 20px;
        height: 20px;
    }
    #sampleLogo {
        height: 60px;
        width: 134.25px;
    }
    #siteName {
        line-height: 60px;
    }
    #loginGithub {
        height: 56px;
    }
}

@media only screen and (max-width: 700px) and (min-width: 630px),
(max-device-width: 700px) {
    #loginLabel {
        display: none;
    }
    #headerGitLogo {
        margin-top: 20px;
    }
    #siteName {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 630px),
(max-device-width: 630px) {
    #siteHeaderCenter {
        text-align: center;
    }
    #sampleLogo {
        display: inline-block;
        float: none;
        height: 40px;
        width: 90px;
    }
    #siteName {
        position: relative;
        float: none;
        top: 0;
        left: 0;
        font-size: 1.3rem;
        margin: auto;
        line-height: normal;
    }
    #loginGithub {
        margin: auto;
        float: none;
        width: 20px;
        height: auto;
    }
    #loginLabel {
        display: none;
    }
    #headerGitLogo {
        margin: auto;
        width: 20px;
        height: 20px;
    }
    #loginGithub:hover {
        border-bottom: none;
        border-bottom-color: none;
        background-color: #0079c1;
    }
}

@media only screen and (max-width: 720px),
(max-device-width: 720px) {
    #contentNavi {
        float: none !important;
        text-align: left;
    }
    #contentNavi a,
    #contentNavi2 a {
        position: initial;
        display: block;
    }
    #buttonGroup1,
    #buttonGroup2,
    #buttonGroup3 {
        margin: 3px !important;
        float: none !important;
        text-align: center !important;
        display: inline-block;
    }
    .ordinaryCard {
        padding: 5px !important;
    }
}

#footer {
    margin: auto;
    padding: 0;
    text-align: center;
    background-color: rgba(248, 248, 248, 1);
    color: #005e95;
}

#footerContainer {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

#footerContainer>div {
    position: relative;
    margin: 30px auto;
    display: inline-block;
}

#footerContainer a {
    color: #005e95;
}

#content {
    min-height: 300px;
    min-width: 320px;
    margin: auto;
    padding: 0;
}

#contentTitle {
    margin: auto;
    background-image: url(../images/gallery_banner.jpg);
}

#envirName {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 33px;
    padding: 10px 0px 10px 0px;
}
#chooseDay {
    display: inline-block;
    margin: auto;
    position: relative;
    background-color: transparent;
    color: white;
    font-size: 30px;
    border: 0px;
    border-image-width: 0px;
    cursor: pointer;
}

#naviContainer {
    display: block;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

#contentNavi {
    float: left;
    position: relative;
    padding: 10px 0px 5px 0px;
    font-size: 16px;
}

#contentNavi a,
#contentNavi2 a {
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    transition: background-color 150ms linear,color 150ms 150ms linear;
}

#contentNavi2 {
    padding: 10px 0px 5px 0px;
    text-align: right;
}

.naviActive {
    background-color: white;
    color: black;
}

.naviInactive {
    background-color: rgba(0, 0, 0, 0.333);
    color: white;
}

.naviInactive:hover {
    background-image: linear-gradient(to top, transparent 94%, #fff 96%, #fff 100%);
}

#statusDescrip {
    width: 80%;
    max-width: 1200px;
    margin: 10px auto 10px auto;
    font-size: 1.3rem;
    text-align: center;
}

#buttonContainer, #exprotContainer {
    overflow: auto;
    width: 80%;
    max-width: 1200px;
    margin: 5px auto 5px auto;
    text-align: center;
    font-size: 1rem;
}

#buttonGroup1 {
    float: left;
    margin: 5px 40px 5px auto;
}

#buttonGroup2 {
    float: left;
    margin: 5px auto 5px auto;
}

#buttonGroup3 {
    float: right;
    margin: 5px auto 5px auto;
}

#buttonGroup1 div,
#buttonGroup2 div,
#buttonGroup3 div {
    background-color: rgb(255, 255, 255);
    border: 1px solid #11a1f5;
    color: rgb(0, 0, 0);
    padding: 5px 10px 8px 10px;
    cursor: pointer;
}

#buttonGroup1 div {
    float: left;
    border-radius: 5px;
}

#buttonGroup2 div:nth-child(1) {
    float: left;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

#buttonGroup2 div:nth-child(2) {
    float: left;
    border-radius: 0 5px 5px 0;
}

#buttonGroup3 div:nth-child(1) {
    float: right;
    border-radius: 0 5px 5px 0;
}

#buttonGroup3 div:nth-child(2),
#buttonGroup3 div:nth-child(3),
#buttonGroup3 div:nth-child(4) {
    float: right;
    border-right: none;
}

#buttonGroup3 div:nth-child(5) {
    float: right;
    border-right: 0;
    border-radius: 5px 0 0 5px;
}

#buttonGroup1 div:hover,
#buttonGroup2 div:hover,
#buttonGroup3 div:hover {
    background-color: #ace1ff;
}

#buttonGroup1 .buttonSelected,
#buttonGroup2 .buttonSelected,
#buttonGroup3 .buttonSelected {
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.2);
}

#exportSVG {
    display: inline-block;
    border: 1px solid #11a1f5;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 5px 10px 8px 10px;
    cursor: pointer;
}

#exportSVG:hover {
    background-color: #ace1ff;
}

#contentPane {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    min-height: 400px;
    text-align: center;
    padding: 0 0 10px 0;
}

#contentPane .areaCard {
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
    width: 200px;
    box-shadow: 0 0 5px #005e95;
    border: 3px;
    position: relative;
    display: inline-block;
    text-align: center;
    /* -webkit-animation: fadein 2s; */
    /* Safari, Chrome and Opera > 12.1 */
    /* -moz-animation: fadein 2s; */
    /* Firefox < 16 */
    /* Internet Explorer */
    /* -o-animation: fadein 2s; */
    /* Opera < 12.1 */
    /* animation: fadein 2s; */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox < 16 */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari, Chrome and Opera > 12.1 */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera < 12.1 */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#contentPane div.areaCard a {
    text-decoration: none;
}

.fieldTitle {
    margin: 10px 0 10px 0;
    font-size: 20px;
    color: #005e95;
    height: 35px;
    font-weight: bold;
}

.areaCard.pass {
    background-image: linear-gradient(to top, transparent 96%, #00a300 97%, #00a300 100%);
}

.areaCard.fail {
    background-image: linear-gradient(to top, transparent 96%, #f74b4b 97%, #f74b4b 100%);
}

.areaCard.notest {
    background-image: linear-gradient(to top, transparent 96%, #a3a3a3 97%, #a3a3a3 100%);
}

#contentPane .areaCard svg {
    shape-rendering: geometricPrecision;
}

.successArc {
    fill: #00a300;
}

.failArc {
    fill: #ff3030;
}

.noneArc {
    fill: #a1a1a1;
}

div.testListTip {
    font: 15px "AvenirNextLTPro-Regular";
    position: absolute;
    text-align: center;
    background: black;
    box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.16);
    font-weight: bold;
    padding: 8px;
    border-radius: 2px;
    z-index: 2;
}

div.testListTip:after {
    top: 50%;
    width: 10px;
    font-size: 10px;
    line-height: 1;
    color: black;
    content: "\25C0 \FE0E";
    position: absolute;
}

div.testListTip a {
    text-decoration: none;
    color: white;
    line-height: 1.4rem;
}

#modal {
    text-align: center;
    background-color: #586069;
}

#modal .gaugeBlock {
    margin: 20px 40px 20px 40px;
    display: inline-block;
    width: 180px;
}

#modal .gaugeBlock div.gaugeDesc{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    height: 35px;
    color: white;
}

#modal .gaugeBlock div.gaugeInfo{
    margin-bottom: 20px;
    font-size: 1rem;
    color: white;
}

#modal svg.gauge {
    height: 170px;
    width: 170px;
}


/* Tree View */

.treeNode circle {
    stroke: steelblue;
    stroke-width: 3px;
}

.treeNode text {
    font: 15px sans-serif;
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.treeLink {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}


/* Circle Pack View*/

.circlePacknode {
    cursor: pointer;
}

.circlePacknode:hover {
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;
}

.circlePacknode--leaf:hover {
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;
}

.circlePacklabel {
    font: 1rem "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.circlePacklabel,
.circlePacknode--root {
    pointer-events: none;
}


/* Sunburst View*/

.sunburstPath {
    stroke: #fff;
}

.sunburstPath.testPass {
    fill: #a6f3a6;
}

.sunburstPath.testPass:hover {
    fill: #00a300;
}

.sunburstPath.testFail {
    fill: #f8cbcb;
}

.sunburstPath.testFail:hover {
    fill: #ff3030;
}

.sunburstPath.norun {
    fill: #e4e4e4;
}

.sunburstPath.norun:hover {
    fill: #bebebe;
}


/* Ordinary View*/

.cardHolder {
    border-left: 1px solid #ddd;
    margin: .5rem 0 .5rem 2rem;
    padding: 0;
}

.ordinaryCard {
    position: relative;
    margin-bottom: 7px;
    text-align: left;
}

.ordinaryCard:first-child:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: -1px;
    width: 2px;
    height: 30px;
}

.ordinaryCard:last-child:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ffffff;
    top: 40px;
    left: -1px;
    width: 2px;
    height: 100%;
}

.ordinaryCard:only-child:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: -1px;
    width: 2px;
    height: 100%;
}

.ordinaryCard button {
    position: absolute;
    left: -16px;
    top: 9px;
    background-color: white;
    border-radius: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 3px;
    outline: none;
    margin: 7px 10px 10px 0;
    width: 32px;
    height: 32px;
}

.ordinaryCard button.haschild{
    cursor: pointer;
}

.ordinaryCard button.haschild:hover
 {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1), 0 0 16px 0 rgba(19, 19, 19, 0.05);
}

.ordinaryCard button svg {
    fill: #828282;
    width: 16px;
    height: 16px;
}

.ordinaryCard .nameCard {
    background-color: white;
    border-radius: 3px;
    border: 1px solid #a1a1a1;
    position: relative;
    display: block;
    margin: 0 1.5rem;
    padding-top: 9px;
    overflow: hidden;
}

.ordinaryCard .nameCard .fieldTitle {
    /* margin: 0 20px 0 20px; */
    padding: 0 5px 0 30px;
}

.ordinaryCard .nameCard .fieldTitle .icon:hover{
    border-bottom: 2px solid transparent;
    border-bottom-color: #0079c1;
}

.ordinaryCard .nameCard.login a{
    font-size: 16px;
    display: inline-block;
    margin: 11px auto 21px 30px;
}

.ordinaryCard .nameCard.issueTitle {
    overflow: hidden;
    padding-left: 20px;
}

.ordinaryCard .nameCard a.issueName {
    color: rgb(36, 41, 46);
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    text-decoration: none;
}

.ordinaryCard .nameCard a.issueName:hover {
    color: rgb(3, 102, 214);
}

.ordinaryCard .nameCard .commentExpand {
    background-color: #9fd7ff;
}

.ordinaryCard .nameCard .coNum {
    float: right;
    font-size: 15px;
    margin-top: 2px;
    margin-right: 5px;
    border-radius: 15px;
    background-color: #fda522;
    color: white;
    min-width: 19px;
    text-align: center;
}

.ordinaryCard div.label {
    display: inline-block;
    padding: 3px 4px;
    margin: 0 5px 10px 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
    pointer-events: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.ordinaryCard div.info {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    color: #586069;
    font-size: 12px;
    line-height: 1.25;
    word-wrap: break-word;
    display: inline-block;
    margin: 0 0 10px 0;
}

.ordinaryCard .commentsHolder {
    margin: 10px 30px 10px 30px;
    overflow: hidden;
}

.ordinaryCard .commentCard {
    margin: 10px 30px 10px 30px;
    border-bottom: 1px solid transparent;
    border-bottom-color: #9b9b9b;
}

.ordinaryCard .commentCard.nocomment {
    font-size: 1rem;
    color: rgb(131, 131, 131);
    padding-bottom: 15px;
}

.ordinaryCard .commentCard .coAvatar{
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    color: white;
    pointer-events: none;
}

.ordinaryCard .commentCard .coName{
    margin: auto 20px 20px 20px;
    color: #005e95;
}

.ordinaryCard .commentCard .coTimelabel{
    margin: auto;
    font-size: 12px;
    color: #838383;
}

.ordinaryCard .commentCard .coText{
    margin: auto 20px 20px 60px;
}

.ordinaryCard .cardButton {
    background-color: #0079c1;
    border: 1px solid #0079c1;
    color: #FFF;
    padding: 3px 15px;
    float: right;
    cursor: pointer;
}

.ordinaryCard .buttonDisabled {
    opacity: 0.35;
    pointer-events: none;
}

.ordinaryCard .cardButton:hover {
    background-color: #005e95;
}

.ordinaryCard .avatar {
    float: left;
    margin: auto 20px 10px 30px;
    width: 40px;
    height: 40px;
}

.ordinaryCard textarea {
    font-family: AvenirNextLTPro-Regular;
    float: left;
    width: calc(100% - 100px);
    min-width: calc(100% - 100px);
    max-width: calc(100% - 99px);
    height: 45px;
    min-height: 40px;
    margin-bottom: 20px;
    font-size: 1rem;
}

#editModal .header,
#deleteModal .header {
    padding: 10px 20px;
}

#editModal .content,
#deleteModal .content {
    width: auto;
}

#editModal .actions,
#deleteModal .actions {
    display: inline-block;
    padding: 0;
    width: 100%;
    height: 40px;
}

#editModal .ok, #editModal .cancel,
#deleteModal .cancel, #deleteModal .delete {
    border: 1px solid #0079c1;
    margin: 10px 5px;
    padding: 3px 15px;
    float: right;
    cursor: pointer;
    font-size: 1.2rem;
}

#editModal .ok {
    background-color: #0079c1;
    color: #FFF;
}

#editModal .ok:hover {
    background-color: #005e95;
}

#editModal .cancel,
#deleteModal .cancel {
    background-color: #FFF;
    color: #0079c1;
}

#editModal .cancel:hover,
#deleteModal .cancel:hover  {
    background-color: #005e95;
    color: #FFF;
}

#warnModal .content,
#deleteModal .content {
    width: calc(100% - 30px);
    padding: 30px 0px 30px 30px;
}

#deleteModal .delete {
    background-color: #de2900;
    border-color: #de2900;
    color: white;
}

#deleteModal .delete:hover {
    background-color: #ab3c16;
    border-color: #ab3c16;
}

/* Treemap View*/

.treemapNode text {
    font-size: 20px;
}

.treemapNode.reportName {
    font-size: 14px;
}

.treemapNode rect {
    shape-rendering: crispEdges;
}

.treemapNode--hover rect {
    stroke: rgb(251, 255, 1);
    stroke-width: 2px;
}