@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('../fonts/AvenirNextLTPro-Regular.ttf') format('embedded-opentype'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
}

body {
    font-family: 'AvenirNextLTPro-Regular';
}

.shadowBoxDiv {
    /* overflow: auto; */
    margin: 30px auto 30px auto;
    width: 80%;
    max-width: 1200px;
    transition: all .4s;
    -wekit-transition: all .4s;
    -moz-transition: all .4s;
}

#holderbox {
    border: 1px solid #efefef;
    min-width: 250px;
    padding: 20px 20px 20px 20px;
}

#holderbox .submitTable {
    overflow: auto;
    margin: 30px auto 30px auto;
    max-width: 1200px;
}

#holderbox .submitTable tr {
    height: auto;
    display: table-row;
}

#holderbox .submitTable td {
    display: table-cell;
    width: auto;
    padding: 10px;
}

#holderbox .submitTable label {
    font-size: 1.1rem;
}

#holderbox>div:nth-child(2) {
    overflow: auto;
    margin: auto;
    width: 80%;
    max-width: 1200px;
}

.instruction {
    font-size: 1.3rem;
    float: left;
    margin: auto 100px auto auto;
    padding: auto 100px auto auto;
}

@media only screen and (min-width: 600px) and (min-device-width: 600px) {}

#reportList {
    width: 40%;
    min-width: 300px;
    border: 1px solid #efefef;
    padding: 30px;
}

#resultInfo {
    padding: 10px 0 10px 0;
    width: 40%;
    max-width: 750px;
    font-size: 30px;
    text-align: center;
}

select,
input {
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 1.2rem;
    margin: auto 5px auto 5px;
}

select option:disabled {
    color: black !important;
    font-style: italic;
}

.inputBox {
    width: 30%;
}

#sourceUplaod {
    background-color: white;
}

.navigation {
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 20px;
    background-color: #0079c1;
    border: 1px solid #0079c1;
    margin: 20px 0;
    color: #FFF;
    padding: 3px 15px;
    float: right;
}

.navigation:hover {
    background-color: #005e95;
}

#backToForm {
    margin: 30px auto 30px auto !important;
    display: block !important;
    float: none !important;
}

.buttonDisabled {
    opacity: 0.35;
    pointer-events: none;
}

#back {
    background-color: #FFF !important;
    color: #0079c1 !important;
}

#back:hover {
    background-color: #005e95 !important;
    color: #FFF !important;
}


/*Switcher*/

#switchHolder {
    margin: auto;
    width: 53px;
}

.checkbox-label,
.checkbox-label:before,
.checkbox-label:after {
    box-sizing: border-box;
    margin: auto;
    /*transition*/
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    outline: none;
}

.toggle,
.toggle:active {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
}

.checkbox-label {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 28px;
    width: 50px;
    height: 28px;
    /*border-radius*/
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    background: white;
    cursor: pointer;
}

.checkbox-label:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 28px;
    height: 28px;
    width: 28px;
    /*border-radius*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: white;
    /*box-shadow*/
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
}

.checkbox-label:after {
    content: attr(fail);
    display: block;
    position: absolute;
    z-index: 0;
    height: 100%;
    text-align: right;
    color: #de2900;
    left: -60px;
    width: 50px;
}

.toggle:checked+.checkbox-label {
    /*box-shadow*/
    -webkit-box-shadow: inset 0 0 0 20px #41bb66, 0 0 0 2px #efefef;
    -moz-box-shadow: inset 0 0 0 20px #41bb66, 0 0 0 2px #efefef;
    box-shadow: inset 0 0 0 20px #41bb66, 0 0 0 2px #efefef;
}

.toggle:checked+.checkbox-label:before {
    left: calc(100% - 28px);
    /*box-shadow*/
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
}

.toggle:checked+.checkbox-label:after {
    content: attr(pass);
    left: 50px;
    width: 50px;
    color: #41bb66;
}


/*report table*/

.masterTable {
    border-collapse: collapse;
}

.masterTable>tbody>tr:nth-child(1) th {
    border: 1px solid #5ac6f8;
    border-bottom: 2px solid #5ac6f8;
}

.masterTable>tbody>tr:nth-child(2)>td {
    vertical-align: top;
}

.detailTable th:last-child,
td:last-child {
    padding-right: 0;
    border-right: 0px !important;
}

.detailTable {
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

.detailTable th {
    border-bottom: 1px solid #efefef !important;
}

.detailTable td {
    word-wrap: break-word;
    border-bottom: 1px solid #efefef;
    vertical-align: middle !important;
}

.detailTable tr:last-child td {
    word-wrap: break-word;
    border-bottom: 0px !important;
}


/*loading img*/

.loader {
    margin: auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #0079c1;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*chart style*/

#charts {
    transition: all .4s;
    -wekit-transition: all .4s;
    -moz-transition: all .4s;
    max-width: 90%;
    margin: auto;
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.16);
    text-align: center;
    position: relative;
    z-index: 0;
}

svg {
    display: block;
    margin: auto;
    position: relative;
}

.passBar {
    fill: #a6f3a6;
}

.passBar:hover {
    fill: #00a300;
}

.failBar {
    fill: #f8cbcb;
}

.failBar:hover {
    fill: #ff3030;
}

.gridLine path {
    display: none;
}

.gridLine line {
    stroke: white;
    stroke-width: 2px;
}

.xAxis {
    font: 15px "AvenirNextLTPro-Regular";
    shape-rendering: crispEdges;
}

.xAxis .tick line {
    stroke: rgb(213, 213, 213);
}

.yAxis .tick line {
    stroke: rgb(213, 213, 213);
}

.yAxis {
    font: 15px "AvenirNextLTPro-Regular";
    shape-rendering: crispEdges;
}

.domain {
    stroke: rgb(213, 213, 213);
}

div.tooltip {
    font: 15px "AvenirNextLTPro-Regular";
    position: absolute;
    text-align: center;
    background: #005e95;
    pointer-events: none;
    font-weight: bold;
    padding: 8px;
    color: #fff;
    line-height: 1;
    border-radius: 2px;
    z-index: 1;
}

div.tooltip:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    width: 100%;
    font-size: 10px;
    line-height: 1;
    color: #005e95;
    content: "\25BC";
    position: absolute;
    text-align: center;
}

div.testListTip {
    font: 15px "AvenirNextLTPro-Regular";
    position: absolute;
    text-align: center;
    box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.16);
    font-weight: bold;
    padding: 8px;
    color: white;
    line-height: 1.1;
    border-radius: 2px;
    z-index: 2;
}

div.testListTip:after {
    top: 50%;
    width: 10px;
    font-size: 10px;
    color: white;
    content: "\25C0 \FE0E";
    position: absolute;
}

div.testListTip a {
    text-decoration: none;
    color: #005e95;
    line-height: 1.4rem;
}

#multi-select {
    border: 1px solid rgb(169, 169, 169);
    border-radius: inherit;
    margin: auto 5px auto 5px;
    min-width: 400px;
    min-height: 1.2rem;
    padding: 10px 35px 10px 0;
    max-width: 600px;
}

#multi-select input.search {
    margin: auto 5px auto 10px;
    width: 20rem !important;
}

#multi-select div.default.text {
    margin: auto 5px auto 10px;
    font-size: 1.2rem;
}

#multi-select div.menu.transition {
    min-width: calc(100% - 2px);
    width: calc(100% + 0px);
}

#multi-select a.ui.label {
    background-color: #E8E8E8;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgb(196, 196, 196) inset;
    padding: 5px 0 7px 10px;
    margin: 0 5px 3px 5px;
    cursor: pointer;
}

#multi-select a.ui.label:hover {
    background-color: #E0E0E0;
}
#multi-select a.ui.label i.delete.icon {
    margin: 0;
    padding: 0 5px 0 10px;
    cursor: pointer;
}